
.licontact li{
	list-style: none;
	text-align: left;
}

.licontact ul{
	text-align: left;	
	padding-left: 20px;
	margin-left: 5px;
}


.aside {
	float: left;
	width: 30%;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.aside h3{
	margin-left: 5px;
}
.floatRight{
	float: left;
	width: 70%;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	background: #ffffff url(../images/map.jpg) no-repeat fixed center;
	overflow: hidden;

}
form{
	text-align: center;
}
.contactPart{
	display: block;
	padding: 10px;
	text-align: right;
	width: 70%;

}
.inputInfo{
	width: 60%;
}
#formcontact textarea{
	  height: 100px;
}
