
.site-container{
	background: white;
}

header{
	overflow: hidden;
}

body{
	margin-bottom: -16px;
}

/****************** SLIDER STYLE ***************************************/

#polaris-slider{
	width: 90%;
	margin: auto;
}

#slider {
	text-align: center;
	margin: 0 auto;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

#slider input {
	display: none;
}

#slide1:checked ~ #slides .slides-container { 
	margin-left:0; 
}

#slide2:checked ~ #slides .slides-container { 
	margin-left:-100%; 
}

#slide3:checked ~ #slides .slides-container { 
	margin-left:-200%; 
}

#slide4:checked ~ #slides .slides-container { 
	margin-left:-300%; 
}

#slide5:checked ~ #slides .slides-container { 
	margin-left:-400%; 
}

#overflow {
	width: 100%;
	overflow: hidden;
}

#slider img {
	width: 100%;
	max-width:100% !important;
}

#slides .slides-container {
	width: 500%;
	line-height: 0;
}

#slides article {
	width: 20%;
	float: left;
}

/* Slider Styling */
/* Control Setup */
#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#controls label { 
	display: none;
	width: 70px;
	height: 70px;
	opacity: 0.3;
}

#active {
	margin: 23% 0 0;
	text-align: center;
}

#active label {
	display: inline-block;
	background: #bbb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('../images/next.png') no-repeat;
	float: right;
	margin: -20% -33% 0 0;
	display: block;
}

#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('../images/prev.png') no-repeat;
	float: left;
	margin: -20% 0 0  -30%;
	display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
	background: #333;
	border-color: #333 !important;
}

/* Slider Styling */
#slides {
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #dddddd;
 
}

/* Animation */
#slides .slides-container {
	-webkit-transition: all 0.8s ease; 
	-moz-transition: all 0.8s ease;  
	-ms-transition: all 0.8s ease;  
	-o-transition: all 0.8s ease;  
	transition: all 0.8s ease;  
}


#slider #controls {
	margin: -25% 0 0 15%;
	width: 70%;
	height: 50px;
}
