body{
	width: 970px;
	margin: auto;
	background: #ffffff url(../images/fondo.jpg) no-repeat fixed 50% 60%;
	font-family: 'Roboto', sans-serif;
}

.site-container{
	background: whitesmoke;
}

.container{
	width: 90%;
	margin: auto;
	min-height: 400px;
}

a{
	text-decoration: none;
	color: #cccccc;
}

#tabs,
#tabs li label,
.model-tab:checked ~ .model,
.model-tab:checked ~ label,
.vehicle-description,
.contact-container .left,
.contact-container .right {
	box-sizing: border-box;		
}


.nav{
	float: right;
	margin-top: 0px;
}
.nav li{
	float: left;
	border: 2px solid whitesmoke;
	padding: 11px;
	list-style: none; 
	background-color: #1b4da0;
	cursor: pointer;
}

.nav li:hover,
.nav li.link_active{
	background-color: #1d3e75;
}

.clear{
	clear: both;
}

header{
	overflow: hidden;
}

footer div{
	background: #1a1a1a;
	padding: 10px;
	text-align: center;
}

.left{
	float: left;
}

.right{
	float: right;
}

/*********************** ESTILO SLIDER ***************************************/


#slider {
	text-align: center;
	margin: 0 auto;
	width: 90%;
	margin: auto;
}

#slider input {
	display: none;
}

#slide1:checked ~ #slides .slides-container { 
	margin-left:0; 
}

#slide2:checked ~ #slides .slides-container { 
	margin-left:-100%; 
}

#slide3:checked ~ #slides .slides-container { 
	margin-left:-200%; 
}

#slide4:checked ~ #slides .slides-container { 
	margin-left:-300%; 
}

#slide5:checked ~ #slides .slides-container { 
	margin-left:-400%; 
}

#overflow {
	width: 100%;
	overflow: hidden;
}

#slides .slides-container img {
	width: 20%;
	float: left;
}

#controls label { 
	display: none;
	width: 70px;
	height: 70px;
	opacity: 0.3;
	cursor: pointer;
}

#active {
	margin: 23% 0 0;
	text-align: center;
}

#active label {
	display: inline-block;
	background: #bbb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-bottom: 10px;
}

#active label:hover {
	background: #ccc;
	border-color: #777;
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('../images/next.png') no-repeat;
	float: right;
	margin: -11% -33% 0 0;
	display: block;
}

#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('../images/prev.png') no-repeat;
	float: left;
	margin: -11% 0 0  -30%;
	display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
	background: #333;
}


#slides {
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #dddddd;
 
}

/* Animaciones */
#slides .slides-container {
	-webkit-transition: all 0.8s ease; 
	-moz-transition: all 0.8s ease;  
	-ms-transition: all 0.8s ease;  
	-o-transition: all 0.8s ease;  
	transition: all 0.8s ease;  
	width: 500%;
	line-height: 0;
}


#slider #controls {
	margin: -25% 0 0 15%;
	width: 70%;
	height: 50px;
}

/********************* ESTILO CATÃLOGO ******************************/


.catalog-container ul{
	display: block;
	position: relative; /*sus hijos tienen posicionamiento absoluto*/
	min-height: 415px;
}


.catalog-container li section{
	display:none;
	line-height: 25px;
	position: absolute;
	width: 100%;
	margin-top: 15px;
}

.catalog-container ul li{
	float: left;
	list-style: none;
}

.catalog-container ul li input{
	display: none;
}

.catalog-container ul li label{
	padding: 10px;
	cursor: pointer;
	border: 1px solid #cccccc;
	margin: 0 2px;
}


.catalog-container li input:checked ~ label{
	background: #1a1a1a;
	color: whitesmoke;
}

/* la magia ;) */
.catalog-container li input:checked ~ section{
	display: block;
	height: 95%;
	left: 0;
	overflow: auto;
}

.catalog-container  section img{
	width: 30%;
	margin: auto
}

.catalog-container section > div{
	margin: 5px 0;
	min-height: 180px;
	margin-top: 30px;
	border: 1px solid #cccccc;
}

.catalog-container section > div:first-child{
	margin-top: 5px;
}

.catalog-container section > div > div{
	width: 68%;
	margin-right: 1%;
	padding: 4px;
}

.catalog-container section > div > div div:first-child{
	font-weight: bold;
	border-bottom: 1px solid #cccccc;	
}

.catalog-container section > div > div p{
	overflow: hidden;
  	height: 78px;
}

.catalog-container section > div > div p::after{
	content: "...";
}

.catalog-container section > div > div div:last-child{
	border-top: 1px solid #cccccc;
	text-align: right;
}

.catalog-container section > div > div div:last-child a{
	color: #1b4da0;
}


.catalog-container section table{
	margin: 10px auto auto;
	border-collapse: collapse;
}


.catalog-container section table, 
.catalog-container section th, 
.catalog-container section td{
	border: 1px solid #cccccc;
}

.catalog-container section td{
	padding: 10px;
}

/************************ ESTILO MEDIA ******************************/

.video-media{
	padding: 15px 15px 15px 15px;
	margin: auto;
}
.morevideos{
	text-align: center;
	
}
.morevideos a{
	color: red;
}

/*********************** ESTILO CONTACTO ***************************/
.licontact li{
	list-style: none;
	text-align: left;	
}

.licontact ul{
	text-align: left;	
	padding-left: 20px;
	margin-left: 5px;
}


.contact-container .left {
	width: 30%;
	border: 1px solid #ffffff;
}

.contact-container h3{
	margin-left: 5px;
}

.contact-container .right {
	width: 70%;
	border: 1px solid #ffffff;
	background: #ffffff url(../images/map.jpg) no-repeat fixed center;
	text-align: center;
}

form{
	text-align: center;
}

.contactPart{
	display: block;
	padding: 10px;
	text-align: right;
	width: 70%;

}

.inputInfo{
	width: 60%;
}
#formcontact textarea{
	  height: 100px;
}
