body{
	width: 970px;
	margin: auto;
	background: #ffffff url(../images/fondo.jpg) no-repeat fixed center;
	font-family: 'Roboto', sans-serif;
}

.site-container{
	background: whitesmoke;
}

.container{
	width: 90%;
	background-color: #cccccc;
	margin: auto;
}

a{
	text-decoration: none;
	color: #cccccc;

}
.nav{
	position: relative;
	float: right;
	margin-top: 0px;
}
.nav li{
	float: left;
	border: 2px solid whitesmoke;
	padding: 11px;
	list-style: none; 
	background-color: #1b4da0;
	margin: auto;
	position: relative;
	
}
.clear{
	clear: both;
}

header{
	overflow: hidden;
}

.footer{
	background: #1a1a1a;
	margin-top: 10px;
	padding: 10px;
}