body{
	width: 970px;
	margin: auto;
	background: #ffffff url(../images/fondo.jpg) no-repeat fixed 50% 60%;
	font-family: 'Roboto', sans-serif;
}

.site-container{
	background: whitesmoke;
}

.container{
	width: 90%;
	margin: auto;
	min-height: 400px;
}

a{
	text-decoration: none;
	color: #cccccc;

}
.nav{
	position: relative;
	float: right;
	margin-top: 0px;
}
.nav li{
	float: left;
	border: 2px solid whitesmoke;
	padding: 11px;
	list-style: none; 
	background-color: #1b4da0;
	margin: auto;
	position: relative;
	
}
.clear{
	clear: both;
}

header{
	overflow: hidden;
}

.footer{
	background: #1a1a1a;
	padding: 10px;
	text-align: center;
}

.left{
	float: left;
}

.right{
	float: right;
}

/****************** SLIDER STYLE ***************************************/

#polaris-slider{
	width: 90%;
	margin: auto;
}

#slider {
	text-align: center;
	margin: 0 auto;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

#slider input {
	display: none;
}

#slide1:checked ~ #slides .slides-container { 
	margin-left:0; 
}

#slide2:checked ~ #slides .slides-container { 
	margin-left:-100%; 
}

#slide3:checked ~ #slides .slides-container { 
	margin-left:-200%; 
}

#slide4:checked ~ #slides .slides-container { 
	margin-left:-300%; 
}

#slide5:checked ~ #slides .slides-container { 
	margin-left:-400%; 
}

#overflow {
	width: 100%;
	overflow: hidden;
}

#slider img {
	width: 100%;
	max-width:100% !important;
}

#slides .slides-container {
	width: 500%;
	line-height: 0;
}

#slides article {
	width: 20%;
	float: left;
}

/* Slider Styling */
/* Control Setup */
#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#controls label { 
	display: none;
	width: 70px;
	height: 70px;
	opacity: 0.3;
}

#active {
	margin: 23% 0 0;
	text-align: center;
}

#active label {
	display: inline-block;
	background: #bbb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-bottom: 10px;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('../images/next.png') no-repeat;
	float: right;
	margin: -20% -33% 0 0;
	display: block;
}

#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('../images/prev.png') no-repeat;
	float: left;
	margin: -20% 0 0  -30%;
	display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
	background: #333;
	border-color: #333 !important;
}

/* Slider Styling */
#slides {
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #dddddd;
 
}

/* Animation */
#slides .slides-container {
	-webkit-transition: all 0.8s ease; 
	-moz-transition: all 0.8s ease;  
	-ms-transition: all 0.8s ease;  
	-o-transition: all 0.8s ease;  
	transition: all 0.8s ease;  
}


#slider #controls {
	margin: -25% 0 0 15%;
	width: 70%;
	height: 50px;
}

/* Catalog style*/
#tabs,
#tabs li label,
.model-tab:checked ~ .model,
.model-tab:checked ~ label{
	box-sizing: border-box;		
}


#tabs{
	width: 100%;
	float: none;
	display: block;
	position: relative;
	min-height: 400px;
}


.model{
	display:none;
	line-height: 25px;
	position: absolute;
	width: 100%;
	margin-top: 10px;
}

#tabs li{
	float: left;
	display: block;
	list-style: none;
}

#tabs li input{
	display: none;
}
#tabs li label{
	padding: 10px;
	cursor: pointer;
	border: 1px solid #cccccc;
	margin: 0 2px;
}


.model-tab:checked ~ label{
	background: #1a1a1a;
	color: whitesmoke;
}

.model-tab:checked ~ .model{
	display: block;
	height: 96%;
	left: 0;
	overflow: auto;
}

.catalog-container .img-model{
	width: 30%;
	margin: auto
}

.vehicle{
	margin: 5px 0;
	display: block;
	position: relative;
	min-height: 180px;
	margin-top: 30px;
	border: 1px solid #cccccc;
}

.vehicle:first-child{
	margin-top: 5px;
}
.vehicle-description{
	width: 68%;
	margin-right: 1%;
	padding: 4px;
	box-sizing: border-box;
}

.vehicle-title{
	font-weight: bold;
	border-bottom: 1px solid #cccccc;	
}

.vehicle-content{
	overflow: hidden;
  	height: 78px;
}

.vehicle-content::after{
	content: "...";
}

.vehicle-footer{
	border-top: 1px solid #cccccc;
	text-align: right;
}

.vehicle-footer a{
	color: #1b4da0;
}


.model table{
	margin: 10px auto auto;
	border-collapse: collapse;
}


.model table, 
.model th, 
.model td{
	border: 1px solid #cccccc;
}

.model td{
	padding: 10px;
}
/*Media Style*/

.video-media{
	padding: 15px 15px 15px 15px;
	margin: auto;
}
.morevideos{
	text-align: center;
	
}
.morevideos a{
	color: red;
}
/* Contact Style*/
.licontact li{
	list-style: none;
	text-align: left;
}

.licontact ul{
	text-align: left;	
	padding-left: 20px;
	margin-left: 5px;
}


.contact-container left {
	float: left;
	width: 30%;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.contact-container h3{
	margin-left: 5px;
}
.contact-container .right {
	width: 70%;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	background: #ffffff url(../images/map.jpg) no-repeat fixed center;
	text-align: center;
}
form{
	text-align: center;
}
.contactPart{
	display: block;
	padding: 10px;
	text-align: right;
	width: 70%;

}
.inputInfo{
	width: 60%;
}
#formcontact textarea{
	  height: 100px;
}
